$colorBlack: #000000;
$colorLowBlack: #101010;
$colorRed: #ED4C5C;
$colorRedGradient: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
$colorWhite: #FFFFFF;
$boldFont: 700;
