@import './variables';
@import './header';
@import './section-feature';
@import './section-technology';
@import './section-contact';
@import './subpage';


%main-padding {
  padding: 0 30px;
}

%col-flex-j-center {
  @include flexDis(column, center, center);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.text-bold {
  font-weight: $boldFont;
}

.text-red {
  color: $colorRed;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn {
  width: 160px;
  height: 50px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.8s;
}

.button-white {
  border: 1.5px solid $colorWhite;
}

.button-white:hover {
  background: rgba(255, 255, 255, 0);
  color: $colorWhite;
}

.section-title {
  font-size: 36px;
  text-align: center;
  padding: 75px 0;
}



